{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}
    <div class="d-inline">
        <h2>Listado de tareas</h2>
        <a href="{{ url_for('.new_task') }}">Nueva Tarea</a>
    </div>
    
    <table class='table'>
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href="{{ url_for('.show_task', task_id=task.id) }}">
                            {{ task.title }}
                        </a>
                    </td>
                    <td>{{ task.little_description }}</td>
                    <td>
                        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Mostar</button>
                        <button id="button-show"  type="button" class="btn btn-primary" value="{{ task.id }}" onclick="showModal(value)">Mostar</button>
                        <a href="{{ url_for('.show_task', task_id=task.id) }}" class="btn btn-secondary">Mostar</a>-->
                        <button id="button-show"  type="button" class="btn btn-primary" value="{{ task.id }}" onclick="showModal(value)">Mostar</button>
                        <a href="{{ url_for('.edit_task', task_id=task.id) }}" class="btn btn-primary">Editar</a>
                        <a href="{{ url_for('.delete_task', task_id=task.id) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Agregado para la paginacion-->

    <nav>
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li class="page-item">
                    <a href="{{ url_for('.tasks', page=page-1) }}" class="page-link">Previous</a>
                </li>
            {% endif %}

            {% if pagination.has_next %}
                <li class="page-item">
                    <a href="{{ url_for('.tasks', page=page+1) }}" class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
       
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modal-body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>

        <script>
            function showModal(value) {
                fetch("{{ url_for('api.get_task_data') }}", { 
                    method : 'POST', // or 'PUT'
                    body : JSON.stringify({'task_id' : value}), // data can be `string` or {object}!
                    credentials: 'include', 
                    headers : {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}'
                }})
                .then(function(response) {
                    return response.json();
                })
                .then(function(myJson) {
                    document.getElementById('exampleModalLongTitle').textContent = myJson['title'];
                    document.getElementById('modal-body').textContent = myJson['description'];
                    $('#exampleModalLong').modal('show')
                });
            }
        </script>

{% endblock %}